@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

@layer base {
  * {
    box-sizing: border-box;
    font-family: "Nunito-Sans", sans-serif;
    letter-spacing: -0.065em;
    line-height: 10px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }

  .font-sans {
    font-family: sans-serif;
  }
}

@layer utilities {
  .background-color {
    @apply bg-[#F5F6FA];
  }

  .border-color {
    @apply border-neutral-400;
  }

  .text-color {
    @apply text-[#202224];
  }

  .link-color {
    @apply text-neutral-500 underline;
    @apply hover:text-neutral-700;
    @apply active:text-neutral-700;
  }

  .bg-action-color {
    @apply bg-neutral-400;
  }
}
